@mixin index-content-unbold-font() {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: $content-font-color;
}
@mixin content-H3-bold-font() {
  margin: 0;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  color: #000;

}
@mixin container-mobile() {
  padding: 0 20px;
  box-sizing: border-box;
}
@mixin flex-column() {
  display: flex;
  flex-direction: column;
}
