%content-H3-bold-font{
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  color: #000;
}
%container-mobile{
  padding: 0 20px;
  box-sizing: border-box;
}
%flex-column{
  display: flex;
  flex-direction: column;
}
%small-content-font-lh24{
  font-size: $content-font-small-size14;
  color: $content-font-color;
  line-height: $content-line-height-small-size24;
  font-weight: normal;
}
%medium-content-font{
  font-size: $content-font-medium-size18;
  color: $content-font-color;
  line-height: $content-line-height-large-size30;
  font-weight: normal;
}
%small-content-font-lh30{
  font-size: $content-font-small-size14;
  color: $content-font-color;
  line-height: $content-line-height-large-size30;
  font-weight: normal;
}
