$tablet-width: 660px;
$desctop-width: 960px;
$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx);
$body-color: #fff;
$body-color-opac-30: rgba(255, 255, 255, 0.3);
$black-color: #000;
$green-button-color: #2aab6d;
$green-button-color-hover: rgba(28, 155, 94, 1);
$header-bottob-color: #1d2631;
$nav-border-top-link-color: #485461;
$mobile-bg-nav-color: #283645;
$upper_header-color: #293646;
$section-bg-grey-color: #f2f2f2;
$content-font-color: #283645;
$content-font-colorRGBA: rgba(40, 54, 69, 0.5);
$content-font-colorRGBA10: rgba(40, 54, 69, 0.1);
$content-font-colorRGBA30: rgba(40, 54, 69, 0.3);
$grey-icon-color: #b5b9be;
$grey-icon-color-hover: #8d949b;
$gray-border-color: #e9ebec;
$slider-toggle-control: #bec2c7;
$grey-textarea-border-color: #e5e5e5;
$input-border-color: #e5e5e5;
$timer-color: #f2f2f2;
$pink-color: #d22856;
$pink-colorRGBA: rgba(242, 206, 213, 0.5);
$pink-color-opac30: rgba(242, 206, 213, 0.3);
$grey-border-control-color: #dddfe0;
$white-font-color: #fff;
$font-size-sm14: 1.4rem;
$font-size-sm16: 1.6rem;
$font-size-md18: 1.8rem;
$font-size-md20: 2rem;
$font-size-md21: 2.1rem;
$font-size-md24: 2.4rem;
$font-size-lg30: 3rem;
$font-size-lg40: 4rem;
$font-size-slg50: 5rem;
$line-height-sm18: 1.8rem;
$line-height-sm24: 2.4rem;
$line-height-sm26: 2.6rem;
$line-height-lg30: 3rem;
$line-height-lg36: 3.6rem;
$line-height-lg40: 4rem;
$line-height-slg60: 6rem;
$line-height-slg70: 7rem;
