$body-color: #fff;
$black-color: #000;
$green-button-color: #2aab6d;
$header-bottob-color: #1d2631;
$mobile-bg-nav-color: #283645;
$section-bg-grey-color: #f2f2f2;
$content-font-color: #283645;
$gray-border-color: #e9ebec;
$slider-toggle-control: #bec2c7;
$grey-textarea-border-color: #e5e5e5;
$input-border-color: #e5e5e5;
$pink-color: #d22856;
$white-font-color: #fff;
$font-size-sm14: 14px;
$font-size-md18: 18px;
$font-size-md24: 24px;
$font-size-lg30: 30px;
$line-height-sm24: 24px;
$line-height-lg30: 30px;
