$tablet-width: 660px;
$desctop-width: 960px;
$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx);
$body-color: #fff;
$body-color-opac-30: rgba(255, 255, 255, 0.3);
$black-color: #000;
$green-button-color: #2aab6d;
$green-button-color-hover: rgba(28, 155, 94, 1);
$header-bottob-color: #1d2631;
$nav-border-top-link-color: #485461;
$mobile-bg-nav-color: #283645;
$section-bg-grey-color: #f2f2f2;
$content-font-color: #283645;
$content-font-colorRGBA: rgba(40, 54, 69, 0.5);
$content-font-colorRGBA10: rgba(40, 54, 69, 0.1);
$content-font-colorRGBA30: rgba(40, 54, 69, 0.3);
$grey-icon-color: #b5b9be;
$grey-icon-color-hover: #8d949b;
$gray-border-color: #e9ebec;
$slider-toggle-control: #bec2c7;
$grey-textarea-border-color: #e5e5e5;
$input-border-color: #e5e5e5;
$pink-color: #d22856;
$pink-colorRGBA: rgba(242, 206, 213, 0.5);
$grey-border-control-color: #dddfe0;
$white-font-color: #fff;
$font-size-sm14: 14px;
$font-size-sm16: 16px;
$font-size-md18: 18px;
$font-size-md20: 20px;
$font-size-md21: 21px;
$font-size-md24: 24px;
$font-size-lg30: 30px;
$font-size-lg40: 40px;
$font-size-slg50: 50px;
$line-height-sm18: 18px;
$line-height-sm24: 24px;
$line-height-lg30: 30px;
$line-height-lg36: 36px;
$line-height-slg60: 60px;
$line-height-slg70: 70px;
