@font-face {
  font-family: "Open Sans";
  src:url("./fonts/opensans.woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans";
  src:url("./fonts/opensansbold.woff2");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Open Sans";
  src:url("./fonts/opensanslight.woff2");
  font-style: normal;
  font-weight: 300;
}
