.body{
  min-width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}
.body ul>li{
  list-style: none;
}
ul, li{
  margin: 0;
  padding: 0;
}
div, p, h3{
  //outline: 1px solid green;
}
