.downloads{
  min-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0 17px;
  box-sizing: border-box;
  z-index: 3;
  &__default-link{
    display: block;
    width: 100%;
    margin-bottom: 28px;
    box-sizing: border-box;
    color: #ffffff;
    line-height: 50px;
    font-weight: bold;
    font-size: $font-size-md18;
    text-align: center;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 25px;
    &:hover{
      background-color: $body-color;
      color: $pink-color;
    }
    &:active{
      color: $pink-colorRGBA;
    }
  }
  &__portability{
    width: 215px;
    display: flex;
    justify-content: space-between;
  }
  &__portability a{
    display: inline-block;
    width: 60px;
    height: 60px;
  }
  &__apple-link{
    background-image: url("../img/logo-apple.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__android-link{
    background-image: url("../img/logo-android.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__microsoft-link{
    background-image: url("../img/logo-microsoft.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__description{
    font-size: $font-size-sm14;
    line-height: $line-height-sm24;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
  }
}
@media (min-width: $tablet-width) {
  .downloads{
    width: 300px;
    padding: 26px 0 3px;
    &__default-link{
      font-size: $font-size-md18;
      margin-bottom: 15px;
    }
    &__portability{
    }
    &__description{
      font-size: $font-size-md18;
      line-height: $line-height-sm24;
      margin: 0;
    }
  }
}
@media (min-width: $desctop-width) {
  .downloads{
    padding: 0;
    &__default-link{
      margin-bottom: 14px;
      margin-top: -20px;
      font-size: $font-size-md21;
      line-height: 47px;
    }
    &__description{
      margin-bottom: 11px;
    }
  }
}
