.effect-research{
  display: none;
}
@media (min-width: $tablet-width) {
  .effect-research{
    display: flex;
    position: relative;
    min-height: 400px;
    padding: 73px 0 90px;
    box-sizing: border-box;
    &__image{
      position: absolute;
      display: block;
      width: 240px;
      top: 58px;
      &::before{
        position: absolute;
        content: "24";
        display: block;
        width: 205px;
        height: 205px;
        top: 54px;
        left: 17px;
        box-sizing: border-box;
        color: $pink-color;
        font-size: 95px;
        font-weight: bold;
        text-align: center;
        line-height: 171px;
        border: 14px solid $pink-color;
        border-radius: 50%;
      }
    }
    &__post{
      display: flex;
      flex-direction: column;
      margin-left: 307px;
      &-title {
        width: 56%;
        &-text {
          margin-top: 20px;
          margin-bottom: 0;
          font-size: $font-size-lg30;
          font-weight: bold;
          line-height: $line-height-lg36;
        }
      }
      &-description{
        font-size: $font-size-sm14;
        line-height: $line-height-sm24;
        font-weight: normal;
        color: $content-font-color;
      }
      &-link{
        font-size: $font-size-sm14;
        color: $pink-color;
      }
    }
  }
}
@media (min-width: $desctop-width) {
  .effect-research{
    padding: 40px;
    &__image{
      width: 300px;
      top: 42px;
      left: -4px;
      &::before{
        width: 255px;
        height: 255px;
        top: 70px;
        left: 24px;
        font-size: 118px;
        font-weight: bold;
        line-height: 201px;
        background-color: $timer-color;
        border: 17px solid $pink-color;
      }
    }
    &__post{
      margin-left: 327px;
      padding-top: 71px;
      &-title{
        width: 70%;
      }
      &-description{
        padding: 4px 1px;
        font-size: $font-size-md18;
        line-height: $line-height-lg30;
      }
      &-link{
        padding-top: 8px;
        font-size: $font-size-md18;
        line-height: $line-height-lg30;
      }
    }
  }
}
