.effect-research{
  display: none;
}
@media (min-width: $tablet-width) {
  .effect-research{
    display: flex;
    position: relative;
    min-height: 400px;
    padding: 73px 0 90px;
    box-sizing: border-box;
    & img{
      position: absolute;
      display: block;
      width: 240px;
      height: 200px;
      background-color: #dddddd;
    }
    &__post{
      display: flex;
      flex-direction: column;
      margin-left: 312px;
      &-title {
        width: 55%;
        &-text {
          margin-top: 20px;
          margin-bottom: 0;
          font-size: $font-size-lg30;
          font-weight: bold;
          line-height: $line-height-lg36;
        }
      }
      &-description{
        font-size: $font-size-sm14;
        line-height: $line-height-sm24;
        font-weight: normal;
        color: $content-font-color;
      }
      &-link{
        font-size: $font-size-sm14;
        color: $pink-color;
      }
    }
  }
}
@media (min-width: $desctop-width) {
  .effect-research{
    padding: 40px;
    &__post{
      margin-left: 327px;
      padding-top: 71px;
      &-title{
        width: 70%;
      }
      &-description{
        padding: 4px 1px;
        font-size: $font-size-md18;
        line-height: $line-height-lg30;
      }
      &-link{
        padding-top: 8px;
        font-size: $font-size-md18;
        line-height: $line-height-lg30;
      }
    }
  }
}
