.experience-slider{
  @extend %flex-column;
  position: relative;
  &__item{
    display: none;
    margin-bottom: 50px;
  }
  &__about-person{
    display: none;
  }
  &__person-name{
    @extend %content-H3-bold-font;
    line-height: $line-height-lg30;
    text-align: center;
    display: block;
  }
  &__person-experience{
    @extend %small-content-font-lh30;
    text-align: center;
  }
  &__controls{
    position: absolute;
    top: 250px;
    left: 120px;
    width: 100px;
    height: 20px;
  }
  &__label-item{
    margin-right: 12px;
    display: inline-block;
    &::before{
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      background-color: $slider-toggle-control;
      border-radius: 50%;
    }
  }
  &__radio-item{
    visibility: hidden;
  }
}
#slide1:checked ~ .experience-slider__label-item:nth-of-type(1)::before,
#slide2:checked ~ .experience-slider__label-item:nth-of-type(2)::before,
#slide3:checked ~ .experience-slider__label-item:nth-of-type(3)::before {
  width: 6px;
  height: 6px;
  background-color: $grey-textarea-border-color;
  border: 2px solid $content-font-color;
}

#slide1:checked ~ .experience-slider__item:nth-of-type(1),
#slide2:checked ~ .experience-slider__item:nth-of-type(2),
#slide3:checked ~ .experience-slider__item:nth-of-type(3) {
  display: flex;
  flex-direction: column;
}
@media (min-width: $tablet-width) {
  .experience-slider{
    &__item{

    }
    &__about-person{
      display: block;
      text-align: center;
      font-size: $font-size-sm14;
      line-height: $line-height-lg30;
    }
    &__person-name{

    }
    &__person-experience{

    }
    &__controls{
      top: 210px;
      left: 285px;
      width: 100px;
      height: 20px;
    }
  }
}
@media (min-width: $desctop-width) {
  .experience-slider{
    min-height: 400px;
    box-sizing: border-box;
    padding: 100px 75px;
    &__controls{
      top: 323px;
      left: 446px;
      width: 100px;
      height: 20px;
    }

  }
}
