.features{
  @extend %flex-column;
  background: $section-bg-grey-color;
  background-image: url(../img/bg-triangle-white.svg);
  background-size: 100vw 7.85vw;
  background-repeat: no-repeat;
  &__item{
    @extend %flex-column;
    position: relative;
    margin-bottom: 15px;
    &-title{
      @extend %content-H3-bold-font;
      margin: 0;
      text-align: center;
      line-height: $line-height-sm24;
    }
    &-description{
      @extend %small-content-font-lh24;
      text-align: center;
    }
    &-image{
      display: none;
      position: relative;
      width: 160px;
      height: 281px;
      align-self: center;
      overflow: hidden;
    }
  }
}
.features__item:nth-last-child(1)>div.features__item-image{
  display: block;
  margin-top: 25px;
}
@media (min-width: $tablet-width) {
  .features__item:nth-last-child(1)>div.features__item-image{
    display: block;
    width: 270px;
    right: 347px;
    bottom: -28px;
  }
  .features{
    padding-top: 7px;
    padding-bottom: 19px;
    &__item{
      width: 310px;
      margin-left: 0;
      margin-bottom: 19px;
      &-title{
        text-align: left;
      }
      &-description{
        text-align: left;
      }
      &-image{
        position: absolute;
        height: 487px;
        & img{
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: $desctop-width) {
  .features__item:nth-last-child(1)>div.features__item-image{
    display: block;
    width: 289px;
    right: 7px;
    bottom: 89px;
    overflow: hidden;
  }
  .features{
    padding-top: 0;
    &__item{
      min-height: 560px;
      box-sizing: border-box;
      width: 313px;
      margin: 0;
      padding-top: 350px;
      padding-left: 36px;
      padding-right: 36px;
      &-title{
        margin-bottom: 6px;
        font-size: $font-size-lg30;
        line-height: $line-height-lg30;
        text-align: center;
      }
      &-description{
        text-align: center;
        font-size: $font-size-md18;
        line-height: $line-height-lg30;
      }
      &-image{
        display: block;
        width: 289px;
        right: 7px;
        bottom: 89px;
        & img{
        }
      }
    }
  }
}
