.field-item{
  margin-bottom: 17px;
  & label{
    margin-left: 20px;
    margin-bottom: 7px;
    font-size: $font-size-sm14;
    line-height: $line-height-lg30;
    color: $pink-color;
    text-transform: uppercase;
  }
  & input{
    @extend %medium-content-font;
    display: block;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    height: 63px;
    padding: 16px 21px;
    border: 2px solid $input-border-color;
    border-radius: 2px;
    outline: none;
    &:hover{
      border-color: $content-font-color;
    }
    &:focus{
      border-color: $pink-color;
    }
  }
}
@media (min-width: $tablet-width) {
  .field-item{
    margin-bottom: 47px;
    & label{
      display: inline-block;
      width: auto;
      margin-right: 17px;
      margin-left: 1px;
    }
    & input{
      display: inline-block;
      width: auto;
    }
    &--contacts{
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      padding-left: 60px;
      padding-top: 21px;
      margin-bottom: -3px;
      & input{
        padding: 16px 8px;
        margin-bottom: 9px;
      }
      & label{
        margin-left: 18px;
      }
    }
  }
  .field-item--contacts{
    &::before{
      position: absolute;
      content: "";
      width: 60px;
      height: 63px;
      box-sizing: border-box;
      border: 1px solid $input-border-color;
      border-radius: 2px;
      background-color: $input-border-color;
      right: calc(-1%);
      top: 25px;
      background-position: center center;
      background-size: 22px auto;
      background-repeat: no-repeat;
    }
  }
  .field-item--contacts:nth-of-type(1){
    &::before{
      background-image: url(../img/icon-phone.svg);
    }
  }
  .field-item--contacts:nth-of-type(2){
    &::before{
      background-image: url(../img/icon-mail.svg);
    }
  }
}
@media (min-width: $desctop-width) {
  .field-item{
    display: flex;
    margin-bottom: 47px;
    & label{
      display: block;
      margin-right: 19px;
      padding-top: 22px;
      box-sizing: border-box;
    }
    & input{
      display: block;
      width: 100%;
      word-spacing: 1.8px;
    }
    &--contacts{
      padding: 20px 0 0;
      width: 370px;
      margin-bottom: -3px;
      & input{
        margin-bottom: 9px;
        width: 312px;
        padding-left: 15PX;
      }
      & label{
        margin-left: 18px;
        padding-top: 0;
      }
    }
  }
}
