.field-item{
  margin-bottom: 17px;
  & label{
    margin-left: 20px;
    margin-bottom: 7px;
    font-size: $font-size-sm14;
    line-height: $line-height-lg30;
    color: $pink-color;
    text-transform: uppercase;
  }
  & input{
    @extend %medium-content-font;
    display: block;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    height: 63px;
    padding: 16px 17px;
    border: 2px solid $input-border-color;
    border-radius: 2px;
  }
}
@media (min-width: $tablet-width) {
  .field-item{
    margin-bottom: 50px;
    & label{
      display: inline-block;
      width: auto;
      margin-right: 20px;
    }
    & input{
      display: inline-block;
      width: auto;
    }
  }
}
@media (min-width: $desctop-width) {
  .field-item{
    margin-bottom: 50px;
    & label{
      display: inline-block;
    }
    & input{
      display: inline-block;
    }
  }
}
