.form{
  &__achivements-title{
    margin: 20px 25px 43px;
  }
  &__application-title{
    margin: 20px 25px 38px;
  }
  &__achivements-list,
  &__application-kind-list{
    border: 1px solid transparent;
    &-outer-wrapper{
      padding-top: 16px;
      background-color: $section-bg-grey-color;
    }
  }
  &__identification-data-list{
    margin-bottom: 44px;
  }
  &__person-contacts-list{
    border: 1px solid transparent;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 27px;
    & h3{
      display: none;
    }
  }
  &__textarea-block{
    border: 1px solid transparent;
    &-outer-wrapper{
      padding-top: 1px;
      box-sizing: border-box;
    }
    &-title{
      margin: 35px 0 13px 0;
    }
    & textarea{
      @extend %medium-content-font;
      display: block;
      resize: none;
      box-sizing: border-box;
      border: 2px solid $grey-textarea-border-color;
      border-radius: 2px;
      width: 100%;
      height: 200px;
      padding: 18px 20px;
    }
  }
  & h3{
    font-size: $font-size-sm14;
    font-weight: normal;
    line-height: 18px;
    color: $pink-color;
    text-transform: uppercase;
    text-align: center;
    border: none;
  }

  &__submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 16px;
    &-button{
      display: block;
      height: 63px;
      width: 100%;
      padding: 16px 0;
      box-sizing: border-box;
      border-radius: 2px;
      border-color: $green-button-color;
      border-style: none;
      font-size: $font-size-md18;
      line-height: $line-height-lg30;
      background-color: $green-button-color;
      color: $body-color;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
    &-text{
      @extend %small-content-font-lh30;
      margin-top: 35px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
@media (min-width: $tablet-width) {
  .form{
    display: flex;
    flex-direction: column;
    &__achivements-list,
    &__application-kind-list,
    &__person-contacts-list,
    &__textarea-block{
      position: relative;
      display: block;
      border: 2px solid $input-border-color;
      border-radius: 3px;
      padding-top: 20px;
      margin-bottom: 20px;
      box-sizing: border-box;
      &-outer-wrapper{
        background-color: inherit;
      }
    }
    h3{
      position: absolute;
      margin: 0;
      top: -11px;
      background-color: $body-color;
    }
    &__identification-data-list{
      &-outer-wrapper{
        order: 5;
      }
    }
    &__achivements-list{
      padding-top: 55px;
      padding-bottom: 46px;
      &-outer-wrapper{
        order: 8;
      }
      & h3{
        left: 120px;
      }
    }
    &__person-contacts-list{
      margin-bottom: 45px;
      &-outer-wrapper{
        order: 7;
      }
      & h3{
        display: block;
        left: 208px;
      }
    }
    &__application-kind-list{
      &-outer-wrapper{
        padding-top: 19px;
        order: 6;
      }
      & h3{
        left: 148px;
      }
    }
    &__textarea-block{
      &-outer-wrapper{
        order: 9;
      }
      & h3{
        left: 216px;
      }
    }
    &__submit{
      &-outer-wrapper{
        order: 10;
      }
    }
    &__application-kind-list{
      padding-top: 56px;
      padding-bottom: 58px;
      padding-left: 61px;
    }
    &__submit{
      flex-direction: row;
      justify-content: space-between;
      min-height: 69px;
      margin-bottom: 28px;
      &-button{
        display: inline-block;
        height: 63px;
        width: 300px;
      }
      &-text{
        display: inline-block;
        margin-top: 6px;
      }
    }
    &__textarea-block{
      padding: 43px 60px;
      box-sizing: border-box;
      & textarea{
        width: 500px;
        height: 195px;
      }
    }
  }
}
@media (min-width: $desctop-width) {
  .form{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    &__achivements-list{
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
      padding-left: 60px;
      padding-top: 55px;
      margin-bottom: 29px;
      &-outer-wrapper{
        width: 100%;
      }
      & h3{
        left: 280px;
      }
    }
    &__achivements-list,
    &__application-kind-list,
    &__textarea-block{
      position: relative;
      border: 2px solid $input-border-color;
    }

    &__person-contacts-list{
      display: flex;
      justify-content: space-between;
      padding-top: 17px;
      padding-left: 60px;
      padding-right: 60px;
      margin-bottom: 29px;
      &-outer-wrapper{
        width: 100%;
      }
      & h3{
        left: 368px;
      }
      & div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
      }
      & label{
        order: 5;
      }
    }
    &__application-kind-list{
      width: 435px;
      padding-left: 74px;
      padding-top: 56px;
      & h3{
        left: 55px;
      }
      &-outer-wrapper{
        padding-top: 0;
      }
    }
    &__textarea-block{
      height: 220px;
      padding: 40px 60px;
      margin-bottom: 0;
      &-outer-wrapper{
        width: 100%;
      }
      & h3{
        left: 375px;
      }
      & textarea{
        width: 820px;
        height: 130px;
      }
    }
    &__submit{
      min-height: 110px;
      align-items: flex-end;
      padding-top: 11px;
      margin-bottom: 0;
      &-outer-wrapper{
        width: 100%;
      }
      &-text{
        margin-top: 0;
      }
    }
  }
}
