.header{
  background: $content-font-color;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg-back-mobile@2x.jpg);
  };
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__logo-toggle{
    @extend %container;
    padding: 21px 16px 21px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  &__logo{
    &-mobile{
      display: block;
      width: 80px;
      fill: $body-color;
      &:hover{
        fill: $pink-color;
      }
      &:active{
        fill: $body-color-opac-30;
      }
    }
    &-tablet,
    &-desktop{
      display: none;
      fill: $body-color;
    }
  }
  &__toggle{
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    &-hamburger{
      display: none;
      width: 50px;
      height: 25px;
    }
    &-cross{
      display: block;
      width: 26px;
      height: 26px;
    }
    & svg{
      fill: $body-color;
      &:hover{
        fill: $pink-color;
      }
      &:active{
        fill: $pink-color-opac30;
      }
    }
  }
  &__upper{
    background: $content-font-color;
  }
  &__bottom{
    position: relative;
    &--index-page{
      margin-top: 398px;
      background-color: $header-bottob-color;
    }
    &--photo-page{
      padding: 28px 0 84px;
    }
    &--form-page{
      padding: 30px 0 50px;
    }
  }
  &__image-hand{
    &-wrapper{
      position: relative;
    }
    position: absolute;
    content: "";
    width: 258px;
    height: 305px;
    bottom: -19px;
    left: -20px;
    background-image: url(../img/iphone-hand-mobile@1x.png);
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/iphone-hand-mobile@2x.png);
    };
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
  }
}
.header__toggle:hover ~ .header__toggle-cross{
  fill: $pink-color;
}
.header__toggle:active ~ .header__toggle-cross{
  fill: $pink-colorRGBA;
}
@media (min-width: $tablet-width) {
  .header{
    padding-bottom: 50px;
    background-image: url(../img/bg-back-tablet@1x.jpg);
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-tablet@2x.jpg);
    };
    &__bottom{
      background-color: transparent;
      &--index-page{
        padding-top: 90px;
        padding-bottom: 60px;
        margin-top: 0;
        box-sizing: border-box;
      }
      &--form-page{
        padding: 68px 0 30px;
      }
      &--photo-page{
        padding: 69px 0 33px;
      }
    }
    &__image-hand{
      width: 699px;
      height: 546px;
      bottom: -383px;
      left: -36px;
      background-image: url(../img/iphone-hand-tablet@1x.png);
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../img/iphone-hand-tablet@2x.png);
      };
    }
    &__logo{
      padding: 0 0 0;
      &-tablet{
        display: block;
        width: 155px;
        &:hover{
          fill: $pink-color;
        }
        &:active{
          fill: $body-color-opac-30;
        }
      }
      &-mobile,
      &-desktop{
        display: none;
      }
      &-toggle{
        padding: 2px 36px 43px;
      }
    }
    &__toggle{
      padding-top: 14px;
      background-position: 0 2px;
    }
  }
}
@media (min-width: $desctop-width) {
  .header{
    padding-bottom: 0;
    background-image: url(../img/bg-back-desktop@1x.jpg);
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-desktop@2x.jpg);
    };
    background-size: cover;
    &__upper{
      background: rgba(28, 37, 48, 0.5);
      &-wrapper{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 960px;
        padding: 0 10px;
        box-sizing: border-box;
      }
    }
    &__logo-toggle{
      display: flex;
      padding: 0;
      margin: 0;
      width: 150px;
      height: 110px;
    }
    &__logo{
      &-desktop{
        display: block;
        width: 155px;
        padding-top: 27px;
        &:hover{
          fill: $pink-color;
        }
        &:active{
          fill: $body-color-opac-30;
        }
      }
      &-tablet,
      &-mobile{
        display: none;
      }
    }
    &__toggle{
      display: none;
    }
    &__bottom{
      &--index-page{
        display: flex;
        padding-top: 57px;
        padding-bottom: 94px;
      }
      &--photo-page{
        padding: 6px 0 4px;
        margin-top: 56px;
        min-height: 216px;
      }
      &--form-page{
        margin-top: 0;
        min-height: 223px;
        padding: 61px 0 0;
      }
    }
    &__image-hand{
      height: 642px;
      width: 882px;
      bottom: -418px;
      left: 20px;
      background-size: cover;
      background-image: url(../img/iphone-hand-desktop@1x.png);
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../img/iphone-hand-desktop@2x.png);
      };
    }
  }
}
