.header{
  background: $content-font-color;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg-back-mobile@2x.jpg);
  };
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  &__logo-toggle{
    @extend %container;
    min-height: 70px;
    padding: 49px 41px 42px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  &__logo{
    display: block;
    width: 80px;
    height: 25px;
    background-image: url(../img/logo-pink-white-mobile.svg);
    background-repeat: no-repeat;
    background-size: auto;
  }
  &__toggle{
    display: block;
    width: 26px;
    height: 26px;
    background-image: url(../img/icon-menu-cross.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    &-cross{
      fill: $body-color;
    }
  }
  &__upper{
    min-height: 270px;
    background: $content-font-color;
  }
  &__bottom{
    position: relative;
    &--index-page{
      margin-top: 400px;
      background-color: $header-bottob-color;
    }
    &--photo-page{
      padding: 26px 0 81px;
    }
    &--form-page{
      padding: 26px 0 20px;
    }
  }
  &__image-hand{
    &-wrapper{
      position: relative;
    }
    position: absolute;
    content: "";
    width: 250px;
    height: 290px;
    bottom: -14px;
    left: -20px;
    background-image: url(../img/iphone-hand-mobile@1x.png);
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/iphone-hand-mobile@2x.jpg);
    };
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
  }
}
.header__toggle:hover ~ .header__toggle-cross{
  fill: $pink-color;
}
.header__toggle:active ~ .header__toggle-cross{
  fill: $pink-colorRGBA;
}
@media (min-width: $tablet-width) {
  .header{
    padding-bottom: 107px;
    background-image: url(../img/bg-back-tablet@1x.jpg);
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-tablet@2x.jpg);
    };
    &__bottom{
      background-color: transparent;
      &--index-page{
        padding-top: 90px;
        margin-top: 0;
        box-sizing: border-box;
      }
      &--form-page{
        padding: 68px 0 80px;
      }
      &--photo-page{
        padding: 26px 0 19px;
      }
    }
    &__image-hand{
      width: 699px;
      height: 550px;
      bottom: -383px;
      left: -36px;
      background-image: url(../img/iphone-hand-tablet@1x.png);
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../img/iphone-hand-tablet@2x.jpg);
      };
    }
    &__toggle{
      background-position: 0 2px;
    }
  }
}
@media (min-width: $desctop-width) {
  .header{
    padding-bottom: 0;
    background-image: url(../img/bg-back-desktop@1x.jpg);
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-desktop@2x.jpg);
    };
    &__upper{
      min-height: 110px;
      background: rgba(0, 0, 0, 0.5);
      &-wrapper{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 1200px;
        padding: 0 130px;
        box-sizing: border-box;
      }
    }
    &__logo-toggle{
      display: flex;
      padding: 0;
      margin: 0;
      width: 150px;
      height: 110px;
    }
    &__logo{
      margin: auto;
      width: 100%;
      height: 50px;
      background-image: url(../img/logo-pink-blue-mobile.svg);
      background-repeat: no-repeat;
      background-size: auto;
    }
    &__toggle{
      display: none;
    }
    &__bottom{
      &--index-page{
        display: flex;
        padding-top: 61px;
        padding-bottom: 92px;
      }
      &--photo-page{
        margin-top: 61px;
        min-height: 216px;
      }
      &--form-page{
        margin-top: 0;
        min-height: 223px;
        padding: 61px 0 0;
      }
    }
    &__image-hand{
      height: 754px;
      width: 1049px;
      bottom: -528px;
      left: 20px;
      background-image: url(../img/iphone-hand-desktop@1x.png);
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../img/iphone-hand-desktop@2x.jpg);
      };
    }
  }
}
