.logo{
  &__footer{
    &-mobile{
      display: block;
      width: 147px;
      height: 41px;
      fill: $content-font-color;
    }
    &-desktop{
      display: none;
    }
  }
  & svg{
    &:hover{
      fill: $pink-color;
    }
    &:active{
      opacity: 0.3;
    }
  }
  &--footer{
    box-sizing: border-box;
    padding-top: 31px;
    margin-bottom: 38px;
  }
}
@media (min-width: $tablet-width) {
  .logo{
    &--footer{
      background-position: 3px 22px;
      padding-top: 21px;
    }
  }
}
@media (min-width: $desctop-width) {
  .logo{
    &__footer{
      padding-top: 14px;
      &-mobile{
        display: none;
      }
      &-desktop{
        display: block;
      }
    }
  }
}
