.message{
  width: 320px;
  box-sizing: border-box;
  background-color: $body-color;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
  &__title{
    margin: 0;
    margin-bottom: 50px;
    color: $black-color;
    font-size: $font-size-md18;
    font-weight: bold;
    line-height: $line-height-sm24;
    text-align: center;
  }
  &__description{
    margin-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    color: $content-font-color;
    font-size: $font-size-sm14;
    line-height: $line-height-sm24;
    text-align: center;
    font-weight: normal;
  }
  &__button-close{
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: $green-button-color;
    color: $body-color;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-md18;
    line-height: $line-height-lg30;
    font-weight: bold;
    -webkit-appearance: normal;
    border: 0;
  }
  &__button-area{
    padding-left:22px;
    padding-right: 22px;
  }
  &--ok{
    position: absolute;
    display: none;
    padding-top: 46px;
        & .message__button-area{
      padding-top: 50px;
      padding-bottom: 54px;
      background-color: $timer-color;
    }
    & .message__button-area{
      padding-bottom: 50px;
    }
  }
  &--error{
    display: none;
    padding-top: 46px;
    animation-name: messageError-animation;
    animation-duration: 3s;
    & .message__button-area{
      padding-bottom: 50px;
    }
  }
}
.message--appear{
  animation-name: messageOK-animation;
  animation-duration: 3s;
}
@keyframes messageOK-animation {
  0%{
    bottom: -50%;
  }
  100%{
    bottom: 50%;
  }
}
@media (min-width: $tablet-width) {
  .message{
    width: 460px;
    &__title{
      font-size: $font-size-lg30;
      line-height: $line-height-lg40;
    }
    &__description{
      padding-left: 82px;
      padding-right: 82px;
      font-size: $font-size-md21;
      line-height: $line-height-sm26;
    }
    &__button-area{
      padding-left:83px;
      padding-right: 82px;
      padding-bottom: 54px;
    }
  }
}
@media (min-width: $desctop-width) {
  .message{
    width: 460px;
    box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
    &__title{
      font-size: $font-size-lg30;
      line-height: $line-height-lg40;
    }
    &__description{
      padding-left: 82px;
      padding-right: 82px;
      font-size: $font-size-md21;
      line-height: $line-height-sm26;
    }
    &__button-area{
      padding-left:82px;
      padding-right: 82px;
    }
    &--ok{
      width: 780px;
      & .message__title,
      & .message__description{
        padding-left: 193px;
        padding-right: 195px;
      }
      & .message__button-area{
        padding-left: 162px;
        padding-right: 162px;
      }
    }
  }
}
