.nav{
  &__list{
    @extend %flex-column;
  }
  &__item{
    display: block;
  }
  &__link{
    display: inline-block;
    height: 62px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-family: "Open Sans", sans-serif;
    font-size: $font-size-md18;
    line-height: 61px;
    font-weight: bold;
    color: $body-color;
    border-bottom: 1px solid $black-color;
    text-decoration: none;
    text-transform: uppercase;
  }
}
@media (min-width: $desctop-width) {
  .nav{
    &__list{
      flex-direction: row;
      width: 620px;
      height: 110px;
      justify-content: space-between;
      align-items: center;
    }
    &__link{
      height: auto;
      font-weight: normal;
      line-height: 110px;
      text-transform: none;
    }
  }
}
