.page-title{
  &--form-page{
  }
  &__text{
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 24px;
    font-weight: 300;
    color: $body-color;
    text-align: center;
    &--photo-page{
    }
  }
}
