.post{
  display: flex;
  flex-direction: column;
  & img{
    display: block;
  }
  &__comment-aria{
    height: 100%;
    box-sizing: border-box;
    padding: 20px 15px 23px 15px;
    background-color: $section-bg-grey-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__username{
    font-size: $font-size-sm14;
    line-height: $line-height-sm24;
    font-weight: bold;
  }
  &__time{
    margin-left: 4px;
    font-size: 12px;
    font-weight: 300;
    line-height: $line-height-sm24;
    text-transform: uppercase;
  }
  &__blockquote{
    @extend %small-content-font-lh24;
    width: 100%;
    margin: 0;
  }
  &__likes{
    position: relative;
    margin-left: 30px;
    align-self: flex-end;
    font-size: 12px;
    line-height: $line-height-sm24;
    font-weight: normal;
    color: $pink-color;
    text-transform: uppercase;
    &::before{
      position: absolute;
      content: "";
      width: 14px;
      height: 13px;
      top: 7px;
      left: -25px;
      background-image: url(../img/icon-heart.svg);
      background-size: auto;
      background-repeat: no-repeat;
    }
  }
}
@media (min-width: $tablet-width) {
  .post{
    &__comment-aria{
      height: calc(100% - 300px);
      padding: 23px 15px 24px 28px;
      &--panorama{
        position: relative;
        padding: 26px 15px 10px 28px;
        & .post__likes{
          position: absolute;
          top: 26px;
          right: 61px;
          &::before{
            left: 106px;
          }
        }
      }
    }
    &__blockquote{
      margin-bottom: 14px;
    }
    &__likes{
      margin-left: 0;
      &::before{
        left: 2225px;
      }
    }
  }
}

@media (min-width: $desctop-width) {
  .post{
    &__comment-aria{
      height: calc(100% - 400px);
      &--panorama{
        & .post__likes{
          top: 20px;
          right: 81px;
          &::before{
            left: 117px;
          }
        }
      }
    }
    & img{
      height: 400px;
    }
  }
}
