.post-list{
  margin-bottom: 44px;
  &__item{
    width: 280px;
    margin-top: 20px;
  }
}
@media (min-width: $tablet-width) {
  .post-list{
    &__item{
      width: 300px;
      margin-top: 19px;
    }
  }
}
@media (min-width: $desctop-width) {
  .post-list{
    margin-bottom: -24px;
    &__item{
      width: 300px;
      margin-bottom: 32px;
    }
  }
}
