.price-table{
  width: 840px;
  margin: 40px 0;
  left: 50%;
  border-collapse: collapse;
  transform: translateX(-33%);
  overflow: hidden;
  &__column-titles{
    height: 100px;
    width: 840px;
  }
  &__column-title{
    position: relative;
    width: 840px;
    height: 100px;
    box-sizing: border-box;
    padding: 18px 0;
    background-color: #283645;
    &--hit{
      &::before{
        position: absolute;
        content: "";
        width: 60px;
        height: 60px;
        right: 233px;
        top: 0px;
        background-image: url("../img/bg-hit.svg");
        background-size: auto;
        background-repeat: no-repeat;
      }
      &::after{
        position: absolute;
        content: "Хит";
        right: 250px;
        top: 16px;
        text-transform: uppercase;
        color: #ffffff;
        transform: rotate(-45deg);
      }
    }
    &--hidden{
      display: none;
    }
  }
  &__row-title{
    display: none;
  }
  &__feature-filtr,
  &__feature-smiley,
  &__feature-comments{
    @extend %small-content-font-lh30;
    position: relative;
    height: 60px;
    width: 840px;
    box-sizing: border-box;
    background-color: $body-color;
    padding: 15px 20px;
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: 210px 15px;
    &::before{
      position: absolute;
      display: block;
      width: 150px;
      height: 30px;
      top: 17px;
      left: 30px;
      text-transform: uppercase;
    }
  }
  &__feature-filtr{
    &::before{
      content: 'Розовый фильтр';
    }
  }
  &__feature-smiley{
    &::before{
      content: 'Смайлики';
    }
  }
  &__feature-comments{
    &::before{
      content: 'Комментарии';
    }
  }
  &--flag-yes{
    background-image: url("../img/icon-yes.svg");
  }
  &--flag-no{
    background-image: url("../img/icon-no.svg");
  }
  &__version-name{
    display: block;
    font-size: $font-size-md18;
    line-height: $line-height-lg30;
    font-weight: bold;
    color: $body-color;
  }
  &__version-price{
    display: block;
    font-size: $font-size-md24;
    line-height: $line-height-lg30;
    font-weight: 300;
    color: $body-color;
  }
}
@media (min-width: $tablet-width) {
  .price-table{
    width: 100%;
    transform: translateX(0);
    & td,
    & th{
      width: 25%;
    }
    &__column-title{
      &--hidden{
        display: block;
        visibility: hidden;
      }
    }
    &__row-title{
      display: block;
    }
    &__feature-filtr,
    &__feature-smiley,
    &__feature-comments{
      background-size: 30px auto;
      background-position: 210px 15px;
      &::before{
        display: none;
      }
    }
  }
}
@media (min-width: $desctop-width) {
  .price-table{
    width: 100%;
    transform: translateX(0);
  }
}
