.price-table{
  margin: 40px 0;
  padding-bottom: 32px;
  width: 799px;
  left: 50%;
  border-collapse: collapse;
  transform: translateX(-32%);
  overflow: hidden;
  &__column-titles{
    height: 100px;
  }
  &__column-title{
    position: relative;
    width: 300px;
    box-sizing: border-box;
    padding: 9px 0 18px;
    background-color: #283645;
    &--hit{
      &::before{
        position: absolute;
        content: "";
        width: 60px;
        height: 60px;
        right: 223px;
        top: 0px;
        background-image: url("../img/bg-hit.svg");
        background-size: auto;
        background-repeat: no-repeat;
      }
      &::after{
        position: absolute;
        content: "Хит";
        right: 239px;
        top: 16px;
        text-transform: uppercase;
        color: #ffffff;
        transform: rotate(-45deg);
      }
    }
    &--hidden{
      display: none;
    }
  }
  &__row-title{
    display: none;
  }
  &__feature-filtr,
  &__feature-smiley,
  &__feature-comments{
    @extend %small-content-font-lh30;
    position: relative;
    height: 60px;
    width: 840px;
    box-sizing: border-box;
    background-color: $body-color;
    padding: 15px 20px;
    background-size: 28px auto;
    background-repeat: no-repeat;
    background-position: 232px 15px;
    &::before{
      position: absolute;
      display: block;
      width: 150px;
      height: 30px;
      top: 11px;
      left: 25px;
      text-transform: uppercase;
    }
  }
  &__feature-filtr{
    &::before{
      content: 'Розовый фильтр';
    }
  }
  &__feature-smiley{
    &::before{
      content: 'Смайлики';
    }
  }
  &__feature-comments{
    &::before{
      content: 'Комментарии';
    }
  }
  &--flag-yes{
    background-image: url("../img/icon-yes-price.svg");
    background-position: 231px 15px;
  }
  &--flag-no{
    background-image: url("../img/icon-no-price.svg");
    background-position: 230px 7px;
  }
  &__version-name{
    display: block;
    font-size: $font-size-md18;
    line-height: $line-height-lg30;
    font-weight: bold;
    color: $body-color;
    text-transform: uppercase;
  }
  &__version-price{
    display: block;
    padding-top: 3px;
    font-size: $font-size-md24;
    line-height: $line-height-lg30;
    font-weight: 300;
    color: $body-color;
  }
}
@media (min-width: $tablet-width) {
  .price-table{
    width: 100%;
    padding-bottom: 22px;
    transform: translateX(0);
    & td,
    & th{
      width: 153px;
    }
    & td{
      height: 45px;
      background-color: $body-color;
      box-sizing: border-box;
      font-size: $font-size-sm14;
      line-height: $line-height-lg30;
      padding: 2px 0 7px 12px;
    }
    &--flag-yes{
      background-position: 62px 10px;
    }
    &--flag-no{
      background-position: 62px 10px;
    }
    &__column-titles{
      height: 80px;
    }
    &__column-title{
      padding: 0;
      &--hit{
        &::before{
          right: 92px;
          top: -11px;
          width: 59px;
          height: 119px;
        }
        &::after{
          right: 119px;
          top: 11px;
          font-size: $font-size-sm14;
        }
      }
    }
    &__version-name{
      font-size: $font-size-sm16;
      line-height: $line-height-lg30;
    }
    &__version-price{
      padding-top: 0;
      font-size: $font-size-md18;
      line-height: $line-height-lg30;
    }
    &__column-title{
      overflow: hidden;
      &--hidden{
        display: block;
        visibility: hidden;
      }
    }
    &__row-title{
      display: block;
    }
    &__feature-filtr,
    &__feature-smiley,
    &__feature-comments{
      background-size: 25px auto;
      &::before{
        display: none;
      }
    }
  }
}
@media (min-width: $desctop-width) {
  .price-table{
    width: 100%;
    margin: 102px 0 66px;
    transform: translateX(0);
    & td,
    & th{
      width: 234px;
    }
    & td{
      height: 60px;
      font-size: $font-size-md18;
      line-height: $line-height-lg30;
      padding: 11px 0 15px 18px;
    }
    &--flag-yes{
      background-size: 32px auto;
      background-position: 101px 16px;
    }
    &--flag-no{
      background-size: 25px auto;
      background-position: 100px 12px;
    }
    &__column-titles{
      height: 100px;
    }
    &__column-title{
      padding: 0;
      &--hit{
        &::before{
          right: 172px;
        }
        &::after{
          right: 189px;
        }
      }
    }
    &__version-name{
      font-size: $font-size-md18;
      line-height: $line-height-lg30;
    }
    &__version-price{
      font-size: $font-size-md24;
      line-height: $line-height-lg30;
    }

  }
}
