.prices{
  overflow: hidden;
  background: $section-bg-grey-color;
  padding-top: 50px;
  background-image: url(../img/bg-triangle-white.svg);
  background-size: 100vw 7.85vw;
  background-repeat: no-repeat;
  &__radio-item{
    visibility: hidden;
  }
}

#prices-slide1:checked ~ .price-table {
  transform: translateX(0);
}
#prices-slide2:checked ~ .price-table {
  transform: translateX(-33%);
}
#prices-slide3:checked ~ .price-table {
  transform: translateX(-67%);
}
@media (min-width: $tablet-width) {
  .prices{
    padding-top: 45px;
    &__radio-item{
      display: none;
    }
  }
}
@media (min-width: $desctop-width) {
  .prices{
    padding-top: 40px;
  }
}
