.price-table{
  width: 840px;
  margin: 40px 0;
  left: 50%;
  transform: translateX(-33%);
  &__row-titles{
    height: 100px;
    width: 840px;
  }
  &__column-title{
    width: 840px;
    height: 100px;
    box-sizing: border-box;
    padding: 18px 0;
    background-color: #283645;
  }
  &__feature-filtr,
  &__feature-smiley,
  &__feature-comments{
    @include small-content-font-lh30;
    height: 60px;
    width: 840px;
    border: 2px solid $input-border-color;
    border-top: 0;
    border-collapse: separate;
    box-sizing: border-box;
    background-color: $body-color;
    padding: 15px 20px;
  }
  &__version-name{
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: $body-color;
  }
  &__version-price{
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: $body-color;
  }
}
