.radio-item{
  display: flex;
  margin-bottom: 37px;
  & label{
    @extend %medium-content-font;
    position: relative;
    display: block;
    margin-left: 88px;
    &::before{
      position: absolute;
      content: "";
      display: block;
      top: -5px;
      left: -56px;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      border: 1px solid $gray-border-color;
      border-radius: 50%;
      background-color: $body-color;
    }
    &::after{
      position: absolute;
      content: "";
      display: none;
      top: 8px;
      left: -43px;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      border: 1px solid $pink-color;
      border-radius: 50%;
      background-color: $pink-color;
    }
  }
  & input{
    display: none;
  }
}
input[name="OS-variant"]:checked + label::after{
  display: block;
}
