.radio-item{
  display: flex;
  margin-bottom: 46px;
  & label{
    @extend %medium-content-font;
    position: relative;
    display: block;
    margin-left: 66px;
    min-width: 150px;
    &::before{
      position: absolute;
      content: "";
      display: block;
      top: -5px;
      left: -70px;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      border: 1px solid $gray-border-color;
      border-radius: 50%;
      background-color: $body-color;
    }
    &::after{
      position: absolute;
      content: "";
      display: none;
      top: 8px;
      left: calc(-50% + 16.5px);
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      border: 1px solid $pink-color;
      border-radius: 50%;
      background-color: $pink-color;
    }
  }
  & input{
    display: none;
  }
}
input[name="OS-variant"]:checked + label::after{
  display: block;
}
label:hover::before{
  border-color: $content-font-color;
}
label:hover::before{
  border-color: $pink-color;
}
@media (min-width: $tablet-width) {
  .radio-item{
    margin-bottom: 45px;
    & label{
      margin-left: 57px;
      &::before{
        left: -58px;
      }
      &::after{
        left: calc(-50% + 28.5px);
      }
    }
  }
}
