.social{
  width: 180px;
  height: 55px;
}
.social a{
  display: block;
  box-sizing: border-box;
  width: 53px;
  height: 53px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}
.social img{
  position: relative;
  left: 18px;
  top: 16px;
}
