.tagline{
  @extend %flex-column;
  justify-content: center;
  box-sizing: border-box;
  &__element{
    font-size: $font-size-md24;
    font-weight: 300;
    color: $content-font-color;
    text-align: center;
    margin: 0;
    &--post-list{
      @extend %small-content-font-lh30;
    }
    &--form-page{
      font-size: $font-size-sm14;
      line-height: $line-height-lg30;
    }
  }
  &--before-features{
    min-height: 215px;
    padding: 40px 0 33px;
    justify-content: space-between;
  }
  &--before-contacts{
    min-height: 130px;
    padding: 44px 0 29px;
  }
  &--before-form{
    min-height: 170px;
  }
}
@media (min-width: $tablet-width) {
  .tagline{
    &__element{
      font-size: $font-size-lg40;
      font-weight: 300;
      &--post-list{
        font-size: $font-size-md18;
        line-height: $line-height-lg30;
      }
      &--form-page{
        font-size: $font-size-md18;
        line-height: $line-height-lg30;
      }
    }
    &--before-post-list{
      min-height: 150px;
    }
    &--after-post-list{
      min-height: 110px;
    }
    &--before-features{
      min-height: 240px;
      padding: 50px 0;
    }
    &--before-contacts{
      min-height: 170px;
      padding: 40px 0;
    }
    &--before-form{
      min-height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: $font-size-md18;
      line-height: $line-height-lg30;
    }
  }
}
@media (min-width: $desctop-width) {
  .tagline{
    &__element{
      font-size: $font-size-slg50;
      font-weight: 300;
      &--post-list{
        font-size: $font-size-md18;
        line-height: $line-height-lg30;
      }
      &--form-page{
        font-size: $font-size-md18;
        line-height: $line-height-lg30;
      }
    }
    &--before-post-list{
      min-height: 240px;
    }
    &--after-post-list{
      min-height: 190px;
    }
    &--before-features{
      min-height: 330px;
      justify-content: flex-start;
      padding: 72px 0;
    }
    &--before-contacts{
      min-height: 225px;
      padding: 58px 0 52px;
    }
    &--before-form{
      min-height: 220px;
    }
  }
}
