.upload-form{
  &__inner-wrapper{
    @extend %flex-column;
    padding: 0;
    border: 0;
    margin: 0;
  }
  &__input{
    display: none;
  }
  &__span-upload-image{
    display: block;
    width: 280px;
    height: 374px;
    background-image: url(../img/photo-7-mobile@1x.jpg);
  }
  &__edit-controls-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  &__control img{
    display: inline-block;
    line-height: 50px;
  }
  &__scale-control{
    position: relative;
    display: block;
    height: 40px;
    &::before{
      position: absolute;
      content: "";
      width: 240px;
      height: 2px;
      top: 20px;
      left: 20px;
      background-color: $content-font-color;
    }
    &::after{
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      top: 16px;
      left: 180px;
      border: 2px solid $pink-color;
      border-radius: 50%;
      background-color: $section-bg-grey-color;
    }
  }
  &__action{
    display: flex;
    flex-direction: column;
    &-submit-link,
    &-reset-link{
      display: block;
      width: 100%;
      height: 54px;
      margin-bottom: 15px;
      box-sizing: border-box;
      color: $pink-color;
      line-height: 50px;
      font-weight: bold;
      font-size: $font-size-md18;
      text-align: center;
      text-decoration: none;
      border: 3px solid $pink-color;
      border-radius: 25px;
    }
  }
}
@media (min-width: $tablet-width) {
  .upload-form{
    &__inner-wrapper{
      display: flex;
      flex-wrap: wrap;
      height: 400px;
      justify-content: space-between;
    }
    &__span-upload-image{
      width: 300px;
      height: 400px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 40px;
    }
    &__edit-controls-list{
      display: flex;
      flex-direction: column;
      width: auto;
      height: 200px;
      padding-top: 0;
    }
    &__control{
      display: block;
      height: 70px;
      width: 100%;
      padding: 25px 0;
      box-sizing: border-box;
      border-bottom: 1px solid $grey-border-control-color;
    }
    &__control img{
      display: block;
      width: 25px;
      height: 25px;
    }
    &__scale-control{
      display: none;
    }
    &__action{
      width: auto;
      min-height: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      &-submit-link,
      &-reset-link{
        width: 260px;
        margin: 0;
      }
    }
  }
}
@media (min-width: $desctop-width) {
  .upload-form{
    &__inner-wrapper{
      padding: 60px 80px;
      background-color: $section-bg-grey-color;
    }
    &__control{
      display: block;
      height: 70px;
      width: 100%;
      padding: 12.5px 0;
      box-sizing: border-box;
      border-bottom: 1px solid $grey-border-control-color;
    }
    &__control img{
      display: block;
      width: 40px;
      height: 40px;
    }
    &__action{
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      min-height: 0;
      &-submit-link,
      &-reset-link{
        width: 185px;
        margin: 0;
      }
    }
  }
}
