.upload-form{
  @extend %flex-column;
  padding: 0;
  border: 0;
  margin: 0;
  &__actions-block{
    @extend %flex-column;
    padding: 0;
    border: 0;
    margin: 0;
  }
  &__input{
    display: none;
  }
  &__span-upload-image{
    display: block;
    width: 280px;
    height: 374px;
    background-image: url(../img/photo-7-mobile@1x.jpg);
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/photo-7-mobile@2x.jpg);
    };
  }
  &__edit-controls-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 11px;
    padding-left: 17px;
    padding-right: 25px;
  }
  &__control {
    &-btn{
      fill: $grey-icon-color;
      :hover{
        fill: $grey-icon-color-hover;
      }
      :active{
        fill: $pink-color;
      }
    }
  }
  &__scale-control{
    position: relative;
    display: block;
    height: 40px;
    margin-bottom: 55px;
    &::before{
      position: absolute;
      content: "";
      width: 240px;
      height: 2px;
      top: 20px;
      left: 20px;
      background-color: $content-font-color;
    }
    &-value{
      position: absolute;
      width: 10px;
      height: 10px;
      top: 13px;
      left: 210px;
      border: 2px solid $pink-color;
      border-radius: 50%;
      background-color: $section-bg-grey-color;
      &:active{
        background-color: $pink-color;
      }
    }
  }
  &__action{
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    &-submit-link,
    &-reset-link{
      display: block;
      width: 100%;
      height: 54px;
      margin-bottom: 15px;
      box-sizing: border-box;
      line-height: 50px;
      font-weight: bold;
      font-size: $font-size-md18;
      text-align: center;
      text-decoration: none;
      border: 3px solid $pink-color;
      border-radius: 25px;
      -webkit-appearance: none;
    }
    &-submit-link{
      color: $pink-color;
      &:hover{
        background-color: $pink-color;
        color: $body-color;
      }
      &:active{
        background-color: $pink-color;
        color: $body-color-opac-30;
      }
    }
    &-reset-link{
      color: $content-font-colorRGBA10;
      border-color: $grey-border-control-color;
      &:hover{
        border-color: $grey-icon-color;
        color: $content-font-colorRGBA30;
      }
      &:active{
        background-color: $grey-icon-color;
        border-color: $grey-icon-color;
        color: $body-color;
      }
    }
  }
}
@media (min-width: $tablet-width) {
  .upload-form{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-between;
    &__actions-block{
      display: flex;
      flex-wrap: wrap;
      height: 400px;
      justify-content: space-between;
    }
    &__span-upload-image{
      width: 300px;
      height: 400px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 40px;
      background-image: url(../img/photo-7-tablet@1x.jpg);
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../img/photo-7-tablet@2x.jpg);
      };
    }
    &__edit-controls-list{
      display: flex;
      flex-direction: column;
      width: auto;
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;
      padding-right: 0;
    }
    &__control{
      position: relative;
      display: block;
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: 20px;
      box-sizing: border-box;
      border-bottom: 1px solid $grey-border-control-color;
      &::before{
        position: absolute;
        content: "";
        width: 200px;
        height: 2px;
        top: 17px;
        left: 54px;
        background-color: $content-font-color;
      }
      &-value{
        position: absolute;
        width: 10px;
        height: 10px;
        top: 13px;
        left: 180px;
        border: 2px solid $pink-color;
        border-radius: 50%;
        background-color: $section-bg-grey-color;
        &:active{
          background-color: $pink-color;
        }
      }
      & svg{
        position: relative;
        top: -8px;
        margin-top: 0;
        margin-bottom: 0;
        width: 25px;
        height: auto;
      }
    }
    &__control img{
      display: block;
      width: 27px;
      height: 27px;
    }
    &__scale-control{
      display: none;
    }
    &__action{
      width: auto;
      min-height: 133px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-right: 10px;
      padding-bottom: 0;
      &-submit-link,
      &-reset-link{
        width: 260px;
        margin: 0;
        padding-right: 5px;
        line-height: 45px;
      }
    }
  }
}
@media (min-width: $desctop-width) {
  .upload-form{
    padding: 56px 48px 55px 80px;
    background-color: $section-bg-grey-color;
    &__actions-block{

    }
    &__span-upload-image{
      margin-right: 47px;
      background-image: url(../img/photo-7-desktop@1x.jpg);
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../img/photo-7-desktop@2x.jpg);
      };
    }
    &__edit-controls-list{
    }
    &__control{
      display: block;
      width: 97%;
      left: -10px;
      height: 54px;
      padding: 0;
      padding-bottom: 13px;
      box-sizing: border-box;
      border-bottom: 1px solid $grey-border-control-color;
      &::before{
        width: 289px;
        height: 2px;
        top: 16px;
        left: 94px;
      }
      &-value{
        top: 12px;
      }
      & svg{
        margin-top: 0;
        margin-bottom: 0;
        top: 0;
        width: 39px;
        height: auto;
      }
    }
    &__action{
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      min-height: 0;
      padding-right: 15px;
      &-submit-link,
      &-reset-link{
        width: 185px;
        margin: 0;
        padding-right: 0;
      }
    }
  }
}
